################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TavalaExtension/bin/Debug/net5.0
/TavalaExtension/obj
/TavalaExtension/TavalaExtension.csproj.user
